@charset "utf-8";
body{
	background-color: #9DD3F1;
}
.image { 
   position: relative; 
   width: 100%;
}

#header {
	margin: 80px 100px 0px 0px;
	
}

#header h1 a:hover {
	 color: #FFF;
}

#header p{ 
	font-family: "coming-soon", "Trebuchet MS", Verdana;
	position: absolute;
	top: 35px;
	left: 635px; 
	width: 262px; 
	color: black;
}


h1 a{
	font-family:"coming-soon", "Trebuchet MS", Verdana;
	font-size: 50px;
	position: absolute; 
	top: 5px;
	left: 530px; 
	width: 300px; 
	height: 75px;
	color: black;
	background-color:#D6ECF5;
	text-align: center;
	text-decoration: none;
	border-radius: 30px
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#D6ECF5;
	border-radius: 30px;
}

li {
    float: left;
}

li a {
	font-family: "coming-soon", "Trebuchet MS", Verdana;
    display: block;
	font-size: 20px;
    color:black;
    text-align: center;
    padding: 14px 112px;
    text-decoration: none;
}
li a:hover {
    background:#B4DCEC; 
	color: aliceblue;
}

.aboutus li{
	display:inline-block;
}

.aboutus-content {
    display: none;
    position: absolute;
    background-color:#C3E3F0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.aboutus-content a {
    color: black;
    padding: 12px 76.3px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.aboutus-content a:hover {background-color: #B4DCEC}

.aboutus:hover .aboutus-content {
    display:block;
}

p{
	font-size: 20px
}

#picturetb{
	margin: 40px;
	padding: 20px 20px 20px 145px;
	border-spacing: 0 ;
}

#picturetb td{
	padding: 8px 16px;
}

#register p{
	font-size: 30px;
	margin:20px;
	padding: 20px 20px 20px 550px;
		
}

.image1 { 
   position: relative; 
   width: 100%; 
}

.image2 { 
   position: relative; 
   width: 100%; 
}

.image3 { 
   position: relative; 
   width: 100%; 
}

h2 { 
	position: absolute; 
	top: 200px; 
	left: 0; 
	width: 100%;
	
}

h2 span { 
	font-family: "coming-soon", "Trebuchet MS", Verdana;
   color: white; 
   font: 24px/45px ;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.register {
	font-size: 30px;
	text-align: center;
	margin:10px 0px 10px 570px;
	width:250px;
	height:100;
	background-color: #858585;
	border-radius: 30px;
}

.register a{
	color:aliceblue;
	text-decoration: none;
	font-family: "coming-soon", "Trebuchet MS", Verdana;
}

.register:hover{
	background-color: #3B3B3B
}

.register-content p{
	text-align: center;
	margin-left: -55px;
	padding: 5px;
}

.register-content li{
	text-align: center;
	font-size:20px;
	margin: 10px 0px 10px 200px;
	padding: 1px;
}

#footer ul {
	font-family: "coming-soon", "Trebuchet MS", Verdana;
	font-size: 20px;
	display:block;
	margin-top: 70px;
	padding: 30px;
}

#image4 {
	float:right;
	margin-top: 5px;
	margin-right: 20px;
}

#image5 {
	float:left;
	margin-right:20px;
	padding:20px;
	margin-top:-20px;
}

#image6 {
	float:right;
	margin-left: 20px;
	padding: 20px;
	margin-top:-20px;
}

#cosplay h3{
	font-size: 30px;
	text-align: center;
}

#pricelist table {
	margin-top: 10px;
	margin-left: 350px;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse:collapse; 
	border-spacing: 0;
}

#pricelist td, th {
	border: 1px solid transparent;
	height: 30px;
	transition: all 0.3s;
}

#pricelist th {
	background: #DFDFDF;
	font-weight: bold;
}

#pricelist td {
	background: #FAFAFA;
	text-align: center;
}

#pricelist tr td:hover { 
	background: #666; color: #FFF; 
}

#partyguide {
	margin:90px;
}